<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adopt-Pet</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Mascotas</a>
      <a class="navbar-brand" href="#">Organizacion</a>
      <a class="navbar-brand" href="/adopcion">Adoptar</a>
      <a class="navbar-brand" href="/donacion">Donacion</a>
      <a class="navbar-brand" href="/usuario">Usuarios</a>
    </nav>


<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="NombreMascota" placeholder="Ingrese Nombre de Mascota">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="description" cols="80"
                placeholder="Ingrese Descripcion"
                ></textarea>
            </div>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= tasks[i].NombreMascota %></strong></td>
              <td><%= tasks[i].description %></td>
              <td>
                <a
                  class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                  href="/turn/<%= tasks[i]._id %>">Done</a>
                <a href="/delete/<%= tasks[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>
                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

